html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fancy-title {
    
    color:white!important;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: Arial
}

#nav {
    background-color:#3dae2b;
}

#footer {
    background-color:#3dae2b;
    margin-top:18px;
}